# Porta em que o servidor Express irá rodar
PORT=3001

# Chave de API do Gemini (Obtido em Google AI Studio: https://aistudio.google.com/)
GEMINI_API_KEY=sua_chave_do_gemini_aqui

# Ambiente (development | production)
NODE_ENV=development
