# Dependências
node_modules/
client/node_modules/
server/node_modules/

# Configurações locais / Chaves
.env
.env.local

# Builds e temporários
client/dist/
*.log
.system_generated/

# Node portátil
node/
node-v22.13.0-win-x64/
node22_13.zip
node22.zip
node.zip

# Outros
.DS_Store
Thumbs.db
